<form method="POST" action="/createBook">
    BookID <input type="text" name="BookID" />
    <br>
    AuthorID <input type="text" name="AuthorID" />
    <br>
    PublisherID <input type="text" name="PublisherID" />
    <br>
    EditorID <input type="text" name="EditorID" />
    <br>
    GenreID <input type="text" name="GenreID" />
    <br>
    Title <input type="text" name="Title" />
    <br>
     AuthRoyalties<input type="text" name="AuthRoyalties" />
    <br>
    PubRoyalties <input type="text" name="PubRoyalties" />
    <br>
    Year <input type="text" name="Year" />
    <br>
    Price <input type="text" name="Price" />
    <input type="submit">
</form>

